textarea {
  font-family: 'Times New Roman';
  font-size: 14px;
  line-height: 16px;
  padding: 24px 32px 16px 8px;    /* different paddings so position computations don't accidentally return a "correct" result */
  text-transform: uppercase;      /* this drastically changes character width on proportional fonts */
  text-indent: 20px;
  border: 16px lightgrey dashed;  /* needs to be accounted for when returning the final position */
}
